{% extends "_base.html" %} {% block content %}

<div class="starter-template">
    <h1>Runestone / PreTeXt Book Manager</h1>
    <hr />
    <br />
    <div>
        <h3>Tasks</h3>
        <label for="bcname">Your document id / basecourse name</label>
        <input id="bcname" type="text" name="bcname" onchange="checkDB(this)" />
        <br />
        <div class="taskbox">
            <button type="button" onclick="addCourse()">
                Add Book to Database
            </button>
        </div>
        <label for="gitrepo">Github Repo URL</label>
        <input id="gitrepo" type="text" name="githubrepo" />
        <button type="button" onclick="cloneTask()">Clone Repo</button>
        <div class="taskbox">
            <button type="button" onclick="buildTask()">
                Build Runestone Book
            </button>
        </div>
        <div class="taskbox">
            <button type="button" onclick="buildTask()">
                Build PreTeXt Book
            </button>
        </div>
        <div class="taskbox">
            <button type="button" onclick="ViewBook()">
                View Book in New Tab
            </button>
        </div>
        <div class="taskbox">
            <button type="button" onclick="deployTask()">
                Deploy to All Servers
            </button>
        </div>
    </div>
    <br /><br />
    <div>
        <h3>Task Status</h3>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody id="tasks"></tbody>
        </table>
    </div>
</div>

{% endblock %}
