{% extends "_base.html" %} {% block content %}

<div class="starter-template">
    <h1>Runestone / PreTeXt Book Manager</h1>
    <hr />
    <br />
    <div>
        <h3>Books by {{name}}</h3>
        <table>
            {% for book in book_list %}
            <tr>
                <td>{{book.Book.document_id}}</td>
                <td>
                    <button
                        onclick="buildTask('{{book.Book.document_id}}')"
                        type="button"
                    >
                        Build
                    </button>
                </td>
                <td>
                    <button
                        onclick="deployTask('{{book.Book.document_id}}')"
                        type="button"
                    >
                        Deploy
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <h3>Add a New Book</h3>
        <label for="bcname">Your document id / basecourse name</label>
        <input id="bcname" type="text" name="bcname" onchange="checkDB(this)" />
        <br />
        <label for="gitrepo">Github Repo URL</label>
        <input id="gitrepo" type="text" name="githubrepo" /> (Must use https url
        not ssh)
        <div class="taskbox">
            <button id="addcoursebutton" type="button" onclick="addCourse()">
                Add Book to Runestone
            </button>
            <span id="bookstatus"></span>
        </div>
        <!-- <button type="button" onclick="cloneTask()">Clone Repo</button>

        <button type="button" onclick="pullTask()">Pull Latest</button>
        <div class="taskbox">
            <button id="Runestone" type="button" onclick="buildTask(this)">
                Build Runestone Book
            </button>
        </div>
        <div class="taskbox">
            <button id="PreTeXt" type="button" onclick="buildTask(this)">
                Build PreTeXt Book
            </button>
        </div>
        <div class="taskbox">
            <button type="button" onclick="ViewBook()">
                View Book in New Tab
            </button>
        </div>
        <div class="taskbox">
            <button type="button" onclick="deployTask()">
                Deploy to All Servers
            </button>
        </div>
    --></div>
    <br /><br />
    <div>
        <h3>Task Status</h3>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody id="tasks"></tbody>
        </table>
    </div>
</div>

{% endblock %}
